@import 'modal';

body {
    margin: 0px;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    padding-left: 0px;
    list-style: none;
}

//debut header
header {
    background-color: black;

    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 90%;
        margin: auto;
        @media (max-width: 768px) {
            display: block;
        }

        #un {
            width: 50%;
            display: flex;
            // align-items: center;
            // justify-content: space-around;

            @media (max-width: 992px) {
                width: 70%;
            }

            @media (max-width: 768px) {
                width: 100%;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                margin: 0;
                li img{padding-top: 1em}
            }

            #burger-menu{
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 80%;

                @media (max-width: 768px) {
                    display: none;
                    width: 100%;
                    flex-direction: column;
                    text-align: center;
                }
            }

            .open-menu{
                display: flex!important;
            }

            #burger-menu-icon{
                display: none;
                @media (max-width: 768px) {display: block;}
            }
            
            li a {
                text-transform: uppercase;
                font-family: "Lato", sans-serif;
                color: white;
                font-size: 0.8em;
                letter-spacing: 0.1em;
            }
        }

        #deux {
            width: 50%;
            display: flex;
            flex-direction: row-reverse;

            @media (max-width: 992px) {
                width: 30%;
            }

            @media (max-width: 768px) {
                width: 100%;
                justify-content: flex-start;
                margin-top: 0;
            }

            li {
                padding-left: 1%;
                padding-right: 1%;

                i {
                    color: white;
                    font-size: 0.8em;
                }
            }
        }
    }
}

//fin header

// debut section snowboardcompagny
#snowboardcompagny {
    background: url(../images/bgheader.jpg);
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;

    h1 {
        text-align: center;
        font-family: "Open Sans", sans-serif;
        color: white;
        font-weight: 800;
        font-size: 3em;
        text-transform: uppercase;
    }

    button {
        background-color: black;
        border: 0px;
        padding: 1em;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        color: white;
        font-size: 0.8em;
        letter-spacing: 0.1em;
    }
}

// fin section snowboardcompagny

//debut section snowboards
#snowboards {
    h2 {
        font-family: "Open Sans", sans-serif;
        text-align: center;
        text-transform: uppercase;
        font-size: 2em;
        font-weight: 800;
        color: black;
        letter-spacing: 0.1em;
    }

    h3 {
        font-family: "Open Sans", sans-serif;
        text-align: center;
        text-transform: uppercase;
        font-size: 1em;
        color: black;
        letter-spacing: 0.1em;
    }

    p {
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-size: 0.8em;
        font-weight: 400;
        color: black;
    }

    /*slider*/
    .slideshow-container {
        width: 100%;
        background-color: white;
        position: relative;

        img {
            position: relative;
            left: 50%;
            transform: translate(-50%);
        }
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: #807979ba;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    /* The dots/bullets/indicators */

    #alldots {
        display: flex;
        justify-content: center;
        margin-top: 15px;

        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .dot:hover {
            background-color: #717171;
        }
    }

    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {
            opacity: 0.4;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fade {
        from {
            opacity: 0.4;
        }
        to {
            opacity: 1;
        }
    }
}

//fin de section snowboards

//debut de section aboutus
#aboutus {
    padding-top: 10%;
    padding-bottom: 10%;
    background-image: url(../images/bgsection3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    #test {
        width: 80%;
        margin: auto;
        article {
            width: 50%;
            @media (max-width: 992px) {
                width: 75%;
            }
            @media (max-width: 768px) {
                width: 100%;
            }

            h2 {
                font-family: "Open Sans", sans-serif;
                text-align: left;
                text-transform: uppercase;
                font-size: 2em;
                font-weight: 800;
                color: white;
                letter-spacing: 0.1em;
            }
            p {
                font-family: "Lato", sans-serif;
                text-transform: uppercase;
                text-align: left;
                font-size: 0.8em;
                font-weight: 400;
                line-height: 2em;
                color: white;
            }
        }
    }
}
//fin de section aboutus

//debut de section aboutus
#features {
    padding-top: 5%;
    padding-bottom: 5%;

    h2 {
        font-family: "Open Sans", sans-serif;
        text-align: center;
        text-transform: uppercase;
        font-size: 2em;
        font-weight: 800;
        color: black;
        letter-spacing: 0.1em;
    }

    p {
        text-align: center;
        i {
            text-align: center;
            font-size: 2em;
            color: black;
        }
    }
    #galerie {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        @media (max-width: 992px) {
            flex-wrap: wrap;
        }
        .vignettes {
            width: 15%;
            @media (max-width: 992px) {
                width: 40%;
                margin: 15px auto;
            }
            @media (max-width: 768px) {
                width: 80%;
            }
            

            img {
                width: 100%;
                height: auto;
            }
            p {
                font-family: "Lato", sans-serif;
                text-transform: uppercase;
                text-align: left;
                font-size: 0.8em;
                font-weight: 400;
                color: black;
                @media (max-width: 992px) {
                    margin: 5px;
                    text-align: center;
                }
            }
        }
    }
}
//fin de section features

//debut de footer

footer {
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: black;
    #tout {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        @media (max-width: 768px) {
            flex-wrap: wrap;
        }
        .colones {
            width: 15%;

            h4 {
                font-family: "Open Sans", sans-serif;
                text-align: left;
                text-transform: uppercase;
                font-size: 0.8em;
                color: white;
                letter-spacing: 0.1em;
            }

            ul {
                li {
                    font-family: "Lato", sans-serif;
                    text-align: left;
                    font-size: 0.8em;
                    font-weight: 400;
                    line-height: 2em;
                    color: white;
                }
            }

            @media (max-width: 768px) {
                width: 100%;
                h4,
                ul li {
                    text-align: center;
                }
            }
        }
        #rs {
            width: 15%;
            @media (max-width: 768px) {
                width: 100%;
            }
            h4 {
                font-family: "Open Sans", sans-serif;
                text-align: left;
                text-transform: uppercase;
                font-size: 0.8em;
                color: white;
                letter-spacing: 0.1em;
            }

            form {
                input {
                    width: 100%;
                }
            }
            #trs {
                display: flex;
                justify-content: space-between;
                @media (max-width: 768px) {
                    width: 50%;
                    margin: 5% auto;
                }
                li {
                    font-family: "Lato", sans-serif;
                    text-align: left;
                    font-size: 0.8em;
                    font-weight: 400;
                    line-height: 2em;
                    color: white;
                }
            }
        }
    }

    #mention {
        width: 80%;
        margin: auto;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                font-family: "Lato", sans-serif;
                text-align: left;
                font-size: 0.8em;
                font-weight: 400;
                line-height: 2em;
                color: white;
                display: flex;

                img {
                    margin-right: 10px;
                }
            }
        }
    }
}
