/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
  /* The Close Button */
  /* Modal Content (image) */
  /* Caption of Modal Image */
}

.modal .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.modal .close:hover, .modal .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.modal .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

@media only screen and (max-width: 700px) {
  .modal .modal-content {
    width: 100%;
  }
}

.modal #caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  /* Add Animation */
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body {
  margin: 0px;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  padding-left: 0px;
  list-style: none;
}

header {
  background-color: black;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
}

@media (max-width: 768px) {
  header nav {
    display: block;
  }
}

header nav #un {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  header nav #un {
    width: 70%;
  }
}

@media (max-width: 768px) {
  header nav #un {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
  header nav #un li img {
    padding-top: 1em;
  }
}

header nav #un #burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
}

@media (max-width: 768px) {
  header nav #un #burger-menu {
    display: none;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

header nav #un .open-menu {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

header nav #un #burger-menu-icon {
  display: none;
}

@media (max-width: 768px) {
  header nav #un #burger-menu-icon {
    display: block;
  }
}

header nav #un li a {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

header nav #deux {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 992px) {
  header nav #deux {
    width: 30%;
  }
}

@media (max-width: 768px) {
  header nav #deux {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 0;
  }
}

header nav #deux li {
  padding-left: 1%;
  padding-right: 1%;
}

header nav #deux li i {
  color: white;
  font-size: 0.8em;
}

#snowboardcompagny {
  background: url(../images/bgheader.jpg);
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#snowboardcompagny h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: 800;
  font-size: 3em;
  text-transform: uppercase;
}

#snowboardcompagny button {
  background-color: black;
  border: 0px;
  padding: 1em;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

#snowboards {
  /*slider*/
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* The dots/bullets/indicators */
  /* Fading animation */
}

#snowboards h2 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 800;
  color: black;
  letter-spacing: 0.1em;
}

#snowboards h3 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  color: black;
  letter-spacing: 0.1em;
}

#snowboards p {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8em;
  font-weight: 400;
  color: black;
}

#snowboards .slideshow-container {
  width: 100%;
  background-color: white;
  position: relative;
}

#snowboards .slideshow-container img {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

#snowboards .prev,
#snowboards .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #807979ba;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#snowboards .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#snowboards .prev:hover,
#snowboards .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#snowboards #alldots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

#snowboards #alldots .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

#snowboards #alldots .dot:hover {
  background-color: #717171;
}

#snowboards .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#aboutus {
  padding-top: 10%;
  padding-bottom: 10%;
  background-image: url(../images/bgsection3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

#aboutus #test {
  width: 80%;
  margin: auto;
}

#aboutus #test article {
  width: 50%;
}

@media (max-width: 992px) {
  #aboutus #test article {
    width: 75%;
  }
}

@media (max-width: 768px) {
  #aboutus #test article {
    width: 100%;
  }
}

#aboutus #test article h2 {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 800;
  color: white;
  letter-spacing: 0.1em;
}

#aboutus #test article p {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  text-align: left;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 2em;
  color: white;
}

#features {
  padding-top: 5%;
  padding-bottom: 5%;
}

#features h2 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 800;
  color: black;
  letter-spacing: 0.1em;
}

#features p {
  text-align: center;
}

#features p i {
  text-align: center;
  font-size: 2em;
  color: black;
}

#features #galerie {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  #features #galerie {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#features #galerie .vignettes {
  width: 15%;
}

@media (max-width: 992px) {
  #features #galerie .vignettes {
    width: 40%;
    margin: 15px auto;
  }
}

@media (max-width: 768px) {
  #features #galerie .vignettes {
    width: 80%;
  }
}

#features #galerie .vignettes img {
  width: 100%;
  height: auto;
}

#features #galerie .vignettes p {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  text-align: left;
  font-size: 0.8em;
  font-weight: 400;
  color: black;
}

@media (max-width: 992px) {
  #features #galerie .vignettes p {
    margin: 5px;
    text-align: center;
  }
}

footer {
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: black;
}

footer #tout {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  footer #tout {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer #tout .colones {
  width: 15%;
}

footer #tout .colones h4 {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.8em;
  color: white;
  letter-spacing: 0.1em;
}

footer #tout .colones ul li {
  font-family: "Lato", sans-serif;
  text-align: left;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 2em;
  color: white;
}

@media (max-width: 768px) {
  footer #tout .colones {
    width: 100%;
  }
  footer #tout .colones h4,
  footer #tout .colones ul li {
    text-align: center;
  }
}

footer #tout #rs {
  width: 15%;
}

@media (max-width: 768px) {
  footer #tout #rs {
    width: 100%;
  }
}

footer #tout #rs h4 {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.8em;
  color: white;
  letter-spacing: 0.1em;
}

footer #tout #rs form input {
  width: 100%;
}

footer #tout #rs #trs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  footer #tout #rs #trs {
    width: 50%;
    margin: 5% auto;
  }
}

footer #tout #rs #trs li {
  font-family: "Lato", sans-serif;
  text-align: left;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 2em;
  color: white;
}

footer #mention {
  width: 80%;
  margin: auto;
}

footer #mention ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #mention ul li {
  font-family: "Lato", sans-serif;
  text-align: left;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 2em;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer #mention ul li img {
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */